## Deliverable 3. Create a Travel Itinerary Map.

In [102]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [206]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,78.64,light rain,-23.1203,-134.9692,Pension Maro'i
1,1,Mahebourg,MU,77.00,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,2,Kapaa,US,73.40,scattered clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,3,Fayaoue,NC,79.65,clear sky,-20.6500,166.5333,Chez Dydyce Guesthouse
4,4,Kailua,US,73.40,few clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
...,...,...,...,...,...,...,...,...
259,259,Jacareacanga,BR,83.73,scattered clouds,-6.2222,-57.7528,Casa do IanðŸ˜Ž
260,260,Puro,PH,78.80,few clouds,12.4841,123.3827,NaN
261,261,Neiafu,TO,78.80,few clouds,-18.6500,-173.9833,Mystic Sands
262,262,Poum,NC,80.15,broken clouds,-20.2333,164.0167,GÃ®te kajeon
263,263,Thio,NC,73.40,clear sky,-21.6167,166.2167,La Ferme de Thio

In [207]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [208]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [202]:
#US vacation plan
#us_vacation_df = vacation_df.loc[(vacation_df["Country"] == "US")]
#new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]
#us_vacation_df = us_vacation_df[new_column_order]
#us_vacation_df

In [209]:
start = float(input("What is your Starting City_ID from US List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from US List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from US List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from US List you would like for your trip? "))
end = float(input("What is your Last City_ID from US List you would like for your trip? "))

What is your Starting City_ID from US List you would like for your trip? 2
What is your First Stop City_ID from US List you would like for your trip? 37
What is your Second Stop City_ID from US List you would like for your trip? 255
What is your Thirth Stop City_ID from US List you would like for your trip? 132
What is your Last City_ID from US List you would like for your trip? 18

In [213]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = vacation_df.loc[(vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = vacation_df.loc[(vacation_df["City_ID"] == stop3)] 
vacation_stop2 = vacation_stop2.iloc[0]
vacation_stop3 = vacation_df.loc[(vacation_df["City_ID"] == end)] 
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = vacation_df.loc[(vacation_df["City_ID"] == stop1)]
vacation_end = vacation_end.iloc[0]

print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is San Patricio, US
Your Frist Stop is Bastrop, US
Your Second Stop is Laredo, US
Your Thirth Stop is Hattiesburg, US
Your Last Stop in your vacation is San Patricio, US

In [219]:
#Reset index
us_vacation_df = vacation_df.loc[(vacation_df["Country"] == "US")]
#us_vacation_df.set_index('City', inplace =True)
us_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,2,Kapaa,US,73.40,scattered clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,4,Kailua,US,73.40,few clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
18,18,Hattiesburg,US,82.40,scattered clouds,31.3271,-89.2903,Deluxe Inn
37,37,San Patricio,US,79.00,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
125,125,Makakilo City,US,73.40,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
132,132,Laredo,US,78.80,clear sky,27.5064,-99.5075,La Posada Hotel
145,145,Sumter,US,84.99,clear sky,28.7086,-82.0831,Paradise Oaks RV Resort
149,149,Ahuimanu,US,73.40,few clouds,21.4447,-157.8378,Paradise Bay Resort
177,177,Hays,US,73.99,overcast clouds,30.0502,-98.0336,Sinya on Lone Man Creek
220,220,Corsicana,US,72.00,haze,32.0954,-96.4689,Holiday Inn Express & Suites Corsicana I-45
255,255,Bastrop,US,78.01,overcast clouds,32.7562,-91.8724,Budget Inn

In [220]:
#reset index
us_vacation_df.set_index ('City', inplace =True)
us_vacation_df

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
Kapaa,2,US,73.40,scattered clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
Kailua,4,US,73.40,few clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
Hattiesburg,18,US,82.40,scattered clouds,31.3271,-89.2903,Deluxe Inn
San Patricio,37,US,79.00,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
Makakilo City,125,US,73.40,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
Laredo,132,US,78.80,clear sky,27.5064,-99.5075,La Posada Hotel
Sumter,145,US,84.99,clear sky,28.7086,-82.0831,Paradise Oaks RV Resort
Ahuimanu,149,US,73.40,few clouds,21.4447,-157.8378,Paradise Bay Resort
Hays,177,US,73.99,overcast clouds,30.0502,-98.0336,Sinya on Lone Man Creek
Corsicana,220,US,72.00,haze,32.0954,-96.4689,Holiday Inn Express & Suites Corsicana I-45
Bastrop,255,US,78.01,overcast clouds,32.7562,-91.8724,Budget Inn

In [222]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

trip_df = us_vacation_df.loc[['San Patricio' ,'Bastrop', 'Laredo','Hattiesburg']]
trip_df

,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
San Patricio,37,US,79.00,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
Bastrop,255,US,78.01,overcast clouds,32.7562,-91.8724,Budget Inn
Laredo,132,US,78.80,clear sky,27.5064,-99.5075,La Posada Hotel
Hattiesburg,18,US,82.40,scattered clouds,31.3271,-89.2903,Deluxe Inn

In [223]:
#Resetting index to original
trip_df.index.name = 'City'
trip_df.reset_index(inplace=True)
trip_df

,City,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,San Patricio,37,US,79.00,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,Bastrop,255,US,78.01,overcast clouds,32.7562,-91.8724,Budget Inn
2,Laredo,132,US,78.80,clear sky,27.5064,-99.5075,La Posada Hotel
3,Hattiesburg,18,US,82.40,scattered clouds,31.3271,-89.2903,Deluxe Inn

In [229]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat     28.017
Lng   -97.5169
Name: 37, dtype: object

In [230]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat     28.017
Lng   -97.5169
Name: 37, dtype: object

In [226]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat    32.7562
Lng   -91.8724
Name: 255, dtype: object

In [227]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    27.5064
Lng   -99.5075
Name: 132, dtype: object

In [228]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat    31.3271
Lng   -89.2903
Name: 18, dtype: object

In [231]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
start = (28.017, -97.5169)
stop1 = (32.7562, -91.8724)
stop2 = (27.5064, -99.5075)
stop3 = (31.3271, -89.2903)
end = (28.017, -97.5169)


# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [232]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
us_vacation_df = pd.concat([us_vacation_df],ignore_index=True)
itinerary_df = pd.concat([trip_df],ignore_index=True)
itinerary_df

,City,City_ID,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,San Patricio,37,US,79.00,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,Bastrop,255,US,78.01,overcast clouds,32.7562,-91.8724,Budget Inn
2,Laredo,132,US,78.80,clear sky,27.5064,-99.5075,La Posada Hotel
3,Hattiesburg,18,US,82.40,scattered clouds,31.3271,-89.2903,Deluxe Inn

In [233]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [234]:
# 11a. Add a marker layer for each city to the map.
city_mark = trip_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))